@import 'abstracts/variables';
@import 'abstracts/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 85%;
}