$screen-xs-max: 370px; // small tablets and large smartphones (landscape view)
$screen-sm-max: 576px; // small tablets and large smartphones (landscape view)
$screen-md-max: 768px; // small tablets (portrait view)
$screen-lg-max: 992px; // tablets and small desktops
$screen-xl-max: 1200px; // large tablets and desktops

$purple: #7c4dff;
$purple-light: #e3d9ff;
$purple-dark: rgb(66, 13, 212);
$gray: rgb(202, 202, 202);
$white: white;